
.meditateContainer {
  text-align: center;
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--fontVidaloka) !important;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:100%;
}


.meditateContainer h2, h4 {
  color: var(--tint);
  font-family: var(--fontVidaloka) !important;
  padding: 30px;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

.blobContainer {
  font-size: 3rem;
  padding: 2rem 6rem;
}

.blobbly-blob {
  height: 225px;
  width: 225px;
  background-color: var(--shade);
  border-radius: 43% 57% 48% 52% / 47% 43% 57% 53% ;
  line-height: 225px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  animation: giggle 10s linear infinite;
}

.blobbly-blob-swell {
  animation: swell 10s ease infinite, giggle 10s linear infinite;
}

.blob-width {
  min-width: 100px;
  padding: 3em;
  text-align: center;
}

.timerCount {
  padding-bottom: 3rem;
  color: var(--tint);
}


.btnRound-active {
  background: var(--shade);
}

.btnRound-inactive {
  background-color: var(--tint);
}



@keyframes giggle {
  0%{
    border-radius: 40% 60% 50% 50% / 50% 40% 60% 50%;
  }
  16%{
    border-radius: 30% 60% 58% 40% / 60% 50% 55% 40%;
  }
  33%{
    border-radius: 60% 40% 30% 70% / 50% 70% 35% 50%; 
  }
  50%{
    border-radius: 64% 36% 63% 37% / 68% 46% 54% 32%;
  }
  67%{
    border-radius: 40% 60% 30% 70% / 50% 30% 70% 50%;
  }
  83%{
    border-radius: 60% 40% 30% 70%  / 60% 65% 30% 40% 
  }  
  100%{
    border-radius: 40% 60% 50% 50% / 50% 40% 60% 50%;
  }
}


@keyframes swell {
 0% {
-webkit-transform: scale( 1 );
-moz-transform: scale( 1 );
-o-transform: scale( 1 );
-ms-transform: scale( 1 );
transform: scale( 1 );
}

48% {
  -webkit-transform: scale( 1.4 );
  -moz-transform: scale( 1.4 );
  -o-transform: scale( 1.4 );
  -ms-transform: scale( 1.4 );
  transform: scale( 1.4 );
  background-color: var(--accent);
}

52% {
  -webkit-transform: scale( 1.4 );
  -moz-transform: scale( 1.4 );
  -o-transform: scale( 1.4 );
  -ms-transform: scale( 1.4 );
  transform: scale( 1.4 );
  background-color: var(--accent);
}
100% {
  -webkit-transform: scale( 1 );
  -moz-transform: scale( 1 );
  -o-transform: scale( 1 );
  -ms-transform: scale( 1 );
  transform: scale( 1 );
  }
}