
.meditateContainer {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
}

.playPause {
  z-index: 999;
}

.animeContainer {
  font-size: 3rem;
  padding: 3rem 5rem;
  z-index: -10;
}

.timerCount {
  padding-bottom: 3rem;
  font-size: 1.4rem;
}

.btnSpacing {
  margin: 1rem;
}

.btnFont {
  color: var(--primary);

}

.mug {
  height: 120px;
  width: 100px;
  border: 6px solid var(--shade);
  position: relative;
  border-radius: 0px 0px 70px 70px;
  box-shadow: 0px 0px 0px 1px var(--tint);
  /* background: url("./tealiquid.png");
  background-repeat: repeat-x;
  background-position: 0% 0%;
  animation: pourTea 10s infinite; */
}

.mugTea {
  height: 120px;
  width: 100px;
  background: url("./tealiquid.png");
  background-repeat: repeat-x;
  background-position: 0% 0%;
  animation: pourTea 10s infinite;
}

@keyframes pourTea {
  0% {
    background-position: 0px 140px;
  }
  20% {
    background-position: -10px 100px;
  }
  40% {
    background-position: -20px 50px;
  }
  60% {   
    background-position: -30px -40px;
  }
  70% {
    background-position: -20px 50px;
  }
  80% {
    background-position: -10px 100px;
  }
  100% {
    background-position: 0px 140px;
  }
}



