/* GLOBAL STYLES
-------------------------------------------------- */
:root {
  --white: #fff;
  --black: #000;
  --tint: #e6eaef;
  --mid-tone: #61798e;
  --darkmode: #282a2f;
  --primary: #172b29;
  --shade: #2e4949;
  --shade-mid: #8caea7;
  --accent: #c26865;
  --accent-mid: #e8bab7;

  --borderNav-top: 1px solid var(--white);
  --border-top: 1px solid var(--white);
  --border-top-dark: 1px solid var(--mid-tone);
  --border-left: 1px solid var(--white);
  --border-left-dark: 1px solid var(--mid-tone);

  --lg: linear-gradient(160deg, #f0f0f0, #b8cbdb 75%);
  --lg-dark: linear-gradient(160deg, #61798e, 20%, #172b29);

  --lgHover: linear-gradient(160deg, #e6eaef, 20%, #e8bab7);
  --lgHover-dark: linear-gradient(160deg, #61798e, 20%, #c26865);

  --fontRoboto: "Roboto", sans-serif;
  --fontVidaloka: "Vidaloka", serif;

  --shadow: -4px -4px 8px rgba(255, 255, 255, 0.8),
    4px 4px 8px rgba(23, 43, 41, 0.6);
  --shadow-dark: -4px -4px 8px rgba(97, 121, 142, 0.8),
    4px 4px 8px rgba(0, 0, 0, 0.4);

  --shadowSM: -2px -2px 4px rgba(255, 255, 255, 0.8),
    2px 2px 4px rgba(23, 43, 41, 0.6);
  --shadowSM-dark: -2px -2px 4px rgba(97, 121, 142, 0.8),
    2px 2px 4px rgba(0, 0, 0, 0.4);

  --transition: all 0.3s ease-in-out;

  --backdrop: blur(10px);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&family=Vidaloka&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--tint);
  color: var(--primary);
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body.dark {
  background-color: var(--darkmode);
  color: var(--tint);
}

body.dark img {
  filter: brightness(0.8) contrast(1.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h3,
h4 {
  text-align: center;
}

h1,
h4 {
  font-family: var(--fontVidaloka) !important;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.8rem;
}

body.dark h1,
body.dark h2 {
  color: var(--white);
}

h3 {
  font-family: var(--fontRoboto) !important;
  font-weight: 100 !important;
}

h4 {
  line-height: 1.6rem !important;
}

h5 {
  font-family: var(--fontRoboto) !important;
  text-transform: uppercase;
  font-weight: 700 !important;
}

.paragraphLg {
  font-family: var(--fontRoboto);
}

a {
  color: var(--primary);
}

*:not(p) a {
  text-decoration: none;
}

a:hover {
  color: var(--black);
}

/* NAVIGATION 
-------------------------------------------------- */
.navBar {
  background-color: var(--tint);
  box-shadow: var(--shadow);
  border-top: 1px solid var(--white);
}

body.dark .navBar {
  background-color: var(--darkmode);
  box-shadow: var(--shadow-dark);
  border-top: 1px solid var(--shade);
}

.navIcon {
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  color: var(--primary);
  border-top: 1px solid var(--tint);
  border-left: 1px solid var(--tint);
  border-radius: 50%;
  transition: var(--transition);
}

body.dark .navIcon {
  color: var(--tint);
  border-top: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
}

.navIcon:hover {
  background-color: var(--accent);
  box-shadow: var(--shadowSM-dark);
}

body.dark .navIcon:hover {
  color: var(--white);
  background-color: var(--accent);
}

.navLogo {
  text-decoration: none;
  color: var(--accent);
  transition: var(--transition);
}

.navLogo:hover {
  color: var(--primary);
}

body.dark .navLogo:hover {
  color: var(--tint);
}

/* HERO 
-------------------------------------------------- */
.hero {
  width: 100%;
  height: 100%;
  margin-top: -80px;
  padding-bottom: 10px;
  background-image: url("https://images.unsplash.com/photo-1498462440456-0dba182e775b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: none;
  box-shadow: inset 0 0 0 2000px rgba(230, 234, 239, 0.8);

  z-index: 0;
}

body.dark .hero {
  box-shadow: inset 0 0 0 2000px rgba(21, 32, 40, 0.8);
}

.logo {
  width: 240px;
  height: 240px;
  padding: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: 50%;
  padding: 1.2rem;
}

.logo::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.8),
    inset 4px 4px 8px rgba(94, 104, 121, 0.6);
}

.logoSymbol path {
  fill: var(--mid-tone);
  opacity: 50%;
}

body.dark .logo {
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.4),
    4px 4px 8px rgba(0, 0, 0, 0.6);
}

body.dark .logo::after {
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.4),
    inset 4px 4px 8px rgba(0, 0, 0, 0.6);
}

body.dark .logoSymbol path {
  fill: var(--tint);
}

/* BUTTONS 
-------------------------------------------------- */
.btn {
  color: var(--primary);
  font-family: var(--fontRoboto);
  line-height: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 32px;

  box-shadow: var(--shadow);
  border-top: var(--border-top);
  border-left: var(--border-left);
  background: var(--lg);

  transition: var(--transition);
}

body.dark .btn {
  background: var(--lg-dark);
  color: var(--tint);
  box-shadow: var(--shadow-dark);
  transition: var(--transition);
  border-top: var(--border-top-dark);
  border-left: var(--border-left-dark);
}

.btn:hover {
  background: var(--lgHover);
}

body.dark .btn:hover {
  background: var(--lgHover-dark);
}

.btnPill {
  max-height: 3.2rem;
  padding: 1.2rem 4.8rem;
}

.btnRound {
  padding: 0.8rem;
}

.moodBtn {
  padding: 1rem;
  border-radius: 50%;
  color: var(--primary);
}

body.dark .moodBtn {
  color: var(--tint);
}

.moodBtn.selected {
  background: var(--lg-dark);
  color: var(--white);
}

body.dark .moodBtn.selected {
  background: var(--lg);
  color: var(--primary);
}

/* CARD 
-------------------------------------------------- */
.stnCard {
  border-top: var(--border-top);
  border-left: var(--border-left);
  box-shadow: var(--shadow);
  border-radius: 4px;
  display: flex;
  min-height: 25rem;
  color: var(--primary);
}

body.dark .stnCard {
  border-top: var(--border-top-dark);
  border-left: var(--border-left-dark);
  background-color: var(--shade);
  box-shadow: var(--shadow-dark);
  color: var(--white);
}

.stnCard-text {
  height: 9.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px #00000070;
}

.stnCard:hover {
  background: var(--lgHover);
}

/* CALENDAR 
-------------------------------------------------- */
.react-calendar {
  max-width: calc(7 * 3rem);
  background: none;
  border: none;
  line-height: 2.4rem;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 48px;
  margin-bottom: 1.2rem;
}

.react-calendar__navigation button {
  min-width: 48px;
  background: none;
  color: inherit;
}

.react-calendar__navigation button:disabled {
  background-color: var(--tint);
}

body.dark .react-calendar__navigation button:disabled {
  background-color: var(--primary);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--tint);
}

body.dark .react-calendar__navigation button:enabled:hover,
body.dark .react-calendar__navigation button:enabled:focus {
  background-color: var(--shade);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-size: 0.8rem;
}

body.dark .react-calendar__month-view__weekdays {
  color: var(--tint);
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--shade);
}

body.dark .react-calendar__month-view__days__day--weekend {
  color: #b8cbdb;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--tint);
}

body.dark .react-calendar__month-view__days__day--neighboringMonth {
  color: var(--shade);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  min-height: 1.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  text-align: center;
  line-height: 16px;
  border-radius: 2rem;
  color: inherit;
}

.react-calendar__tile:disabled {
  background-color: var(--tint);
}

body.dark .react-calendar__tile:disabled {
  background-color: var(--primary);
  color: var(--shade);
  color: #51616d;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f0f0f0;
}

body.dark .react-calendar__tile:enabled:hover,
body.dark .react-calendar__tile:enabled:focus {
  background-color: var(--shade);
}

.react-calendar__tile--hasActive {
  background: #b8cbdb;
  background: var(--mid-tone);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #cadbe8;
}

.react-calendar__tile--now {
  background: var(--shade-mid);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #a3c3bc;
}

.react-calendar__tile--active {
  background: var(--accent);
  color: white;
  box-shadow: var(--shadowSM);
}

body.dark .react-calendar__tile--active {
  box-shadow: var(--shadowSM-dark);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--accent);
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #cadbe8;
}

/* FOOTER 
-------------------------------------------------- */
.footerSection {
  position: relative;
  bottom: 0rem;
  left: 0;
  right: 0;
  z-index: 2;
  padding-bottom: 1rem;
  margin-top: 4.8rem;
}

.footer {
  font-size: 0.8rem;
  color: var(--shade);
  border-top: 1px solid var(--shade);
  text-align: center;
  margin: 0rem 0;
  padding-top: 0.2rem;
}

body.dark .footer {
  color: var(--mid-tone);
  border-top: 1px solid var(--mid-tone);
}

/* FORM 
-------------------------------------------------- */
.form {
  width: 80vw;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.inputField {
  width: 100%;
  margin-bottom: 4.8rem;
  background-color: var(--tint);
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.8),
    inset 2px 2px 2px rgba(97, 121, 142, 0.6);
  border-radius: 4px;
}

body.dark .inputField {
  width: 100%;
  margin-bottom: 4.8rem;
  background-color: var(--shade);
  box-shadow: inset -4px -4px 4px rgba(97, 121, 142, 0.8),
    inset 2px 2px 2px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

body.dark .inputField input {
  color: white;
}

body.dark label.Mui-focused {
  color: var(--white);
}

/* MOOD pages
-------------------------------------------------- */
.paper-lg-bg {
  border-top: var(--border-top);
  border-left: var(--border-left);
  box-shadow: var(--shadow);
  border-radius: 4px;
  background-image: url("https://images.unsplash.com/photo-1600172454520-134a542a2255?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .paper-lg-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(230, 234, 239, 0.4);
  filter: blur(5px);
} */

body.dark .paper-lg-bg {
  border-top: var(--border-top-dark);
  border-left: var(--border-left-dark);
  background-color: var(--shade);
  box-shadow: var(--shadow-dark);
  color: var(--white);

  background-image: url("https://images.unsplash.com/photo-1542268402-cb7c3023d9a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80");
}

.datalog-wrapper {
  border-radius: 4px;
  border: 2px solid var(--white);
  box-shadow: var(--shadowSM);
}

body.dark .datalog-wrapper {
  border-color: var(--shade);
  box-shadow: var(--shadowSM-dark);
}

.moodlog-item:not(:last-of-type) {
  border-bottom: 1px solid var(--white);
}

body.dark .moodlog-item {
  border-color: var(--shade);
}

/* ACTIVITY
-------------------------------------------------- */
.streak-box {
  width: 100px;
  height: 100px;
  margin: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent2);
  border-radius: 50%;
  border: 5px solid var(--accent2);
  box-shadow: var(--shadowSM);
  font-size: 3.2rem;
}

body.dark .streak-box {
  box-shadow: var(--shadowSM-dark);
}

/* QUOTE
-------------------------------------------------- */
.quote {
  font-family: var(--fontVidaloka);
  text-align: center;
  color: var(--accent);
  margin-left: 1.6rem;
  font-size: 1.2rem;
}

body.dark .quote {
  color: var(--accent-mid);
}

.quote span {
  font-family: var(--fontRoboto);
  font-weight: 100;
  font-size: 1rem;
  color: var(--mid-tone);
}

body.dark .quote span {
  color: var(--tint);
}

.quote-error {
  font-family: var(--fontRoboto);
  color: var(--mid-tone);
  font-weight: 100;
}
