/* GLOBAL STYLES
-------------------------------------------------- */
:root {
  --white: #fff;
  --black: #333;
  --primary: #35444b;
  --tint: #e6eaef;
  --shade: #b8cbdb;
  --accent: #d19793;
  --accent2: #8caea7;

  --lg: linear-gradient(160deg, #f0f0f0, #b8cbdb);
  --lgHover: linear-gradient(160deg, #e6eaef, #ead2e1);

  --fontRoboto: "Roboto", sans-serif;
  --fontVidaloka: "Vidaloka", serif;

  --shadow: -5px -5px 9px rgba(255, 255, 255, 0.8),
    5px 5px 9px rgba(94, 104, 121, 0.6);
  --shadowSM: -2px -2px 4px rgba(255, 255, 255, 0.8),
    2px 2px 4px rgba(94, 104, 121, 0.6);
  --shadowNAV: 2px 2px 4px rgba(94, 104, 121, 0.6);
  --transition: all 0.3s ease-in-out;

  --backdrop: blur(10px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&family=Vidaloka&display=swap");

body {
  background-color: var(--tint);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h4 {
  font-family: var(--fontVidaloka) !important;
  color: var(--primary);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.8rem;
}

h3 {
  font-family: var(--fontRoboto) !important;
  font-weight: 100 !important;
  text-align: center;
}

h4 {
  line-height: 1rem !important;
}

h5 {
  font-family: var(--fontRoboto) !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: var(--primary);
}

.paragraphLg {
  font-family: var(--fontRoboto);
}

a {
  color: var(--primary);
}

*:not(p) a {
  text-decoration: none;
}

a:hover {
  color: var(--black);
}

.m-bottom {
  margin-bottom: 1rem;
}

/* NAVIGATION 
-------------------------------------------------- */
.navBar {
  background-color: var(--tint);
  box-shadow: var(--shadowNAV);
  border-top: 1px solid var(--white);
}

.navIcon {
  height: 2.4rem;
  width: 2.4rem;
  padding: 0.2rem;
  background-color: var(--tint);
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  border-radius: 50%;
  box-shadow: var(--shadowSM);
  transition: var(--transition);
}

.navIcon:hover {
  color: var(--white);
  background-color: var(--accent);
}

/* HERO 
-------------------------------------------------- */

.hero {
  width: 100%;
  height: 100vh;
  margin-top: -40px;
  background-image: url("https://images.unsplash.com/photo-1498462440456-0dba182e775b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(230, 234, 239, 0.8);

  z-index: 0;
}

.logo {
  /* z-index: 2; */
  /* background-color: var(--tint); */
  width: 240px;
  height: 240px;
  padding: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: 50%;
  padding: 1.2rem;
}

.logo::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.8),
    inset 5px 5px 9px rgba(94, 104, 121, 0.6);
}

/* BUTTONS 
-------------------------------------------------- */
.btn {
  color: var(--primary);
  box-shadow: var(--shadow);
  font-family: var(--fontRoboto);
  line-height: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 32px;
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  transition: var(--transition);
}

.btnPill {
  max-height: 3.2rem;
  padding: 1.2rem 4.8rem;
  background: var(--lg);
}

.btnPill:hover {
  background: var(--lgHover);
}

.btnRound {
  padding: 0.8rem;
  background: var(--tint);
}

.btnRound:hover {
  background-color: var(--accent);
}

.moodBtn.selected {
  background-color: var(--primary);
  color: var(--white);
}

/* CARD 
-------------------------------------------------- */
.stnCard {
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  box-shadow: var(--shadow);
  border-radius: 4px;
}

.stnCard-text {
  height: 9.6rem;
}

.stnCard:hover {
  background: var(--lgHover);
}

/* CALENDAR 
-------------------------------------------------- */

.react-calendar__tile--now {
  background: var(--shade);
}

.has-data {
  background: var(--accent);
}
